.hidden {
    display: none!important;
}

.visible {
    display: block;
}

#project-display {
    display: grid;
    grid-template-columns: auto;
}

#project-display > input {
    margin-top: 2%;
    margin-bottom: 2%;

    font-size: 1.5em;
    padding: 1%;
}

#common-action-buttons {
    display: grid;
    grid-template-columns: auto;

    width: 20%;
}

#owner-action-buttons {
    display: grid;
    grid-template-columns: auto;

    width: 20%;
}

input[type="button"] {
    margin-top: 1%;
    margin-bottom: 1%;
}

#page-contents > * {
    padding: 1%;
    text-align: center;
}