<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8"/>

    <title>Work-In-Progress | Projects</title>

    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/index-styles.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/header.css">
</head>

<body>
    <div class="page-container">
        <header>
            <div id="brand-container">
                <a href="/"><img src="http://cdn4.iconfinder.com/data/icons/socialmediaicons_v120/48/google.png" alt="Logo"></a>
                <h3>Work in Progress</h3>
            </div>
            <div id="header-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="projects">Browse</a></li>
                    <li><a href="profile">Profile</a></li>
                    <li><a href="post">Post</a></li>
                </ul>
            </div>
        </header>
        <div id="content">
            <div id="item-display-heading">
                <h1>Available Projects</h1>
                <div id="item-display-options">
                    <p>Projects Needing: </p>
                </div>
            </div>
            <div id="item-display">
                <!-- This is an example of the project container -->
                <div class="proj-container proj-active">
                    <div class="proj-details">
                        <div class="proj-bg proj-bg-fader"></div>
                        <div class="proj-bg"></div>
                        <div class="proj-info">
                            <h3 class="proj-title">Dark Twisted Fantasy</h3>
                            <div class="proj-tags-container">
                                <div class="proj-tags-list">
                                    <p>Pixel Art</p>
                                    <p>2D</p>
                                    <p>Top Down</p>
                                </div>
                                <div class="proj-tags-list">
                                    <p>Rogue-Like</p>
                                    <p>FPS</p>
                                    <p>Dungeon-Crawler</p>
                                </div>
                            </div>
                            <a class="proj-share" href="./index.html">Share</a>
                            <img class="proj-target-platform-img" src="./images/unity_logo.png" alt="Target platform">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div id="footer-content">
                <div id="footer-CTA">
                    <h2>Explore</h2>
                    <ul>
                       <a href=""><li>Signup</li></a>
                       <a href=""><li>Signin</li></a>
                       <a href=""><li>Profile</li></a>
                    </ul>
                </div>
                <div id="footer-main">
                    <h2>Overfiew</h2>
                    <ul>
                        <a href=""><li>About</li></a>
                        <a href=""><li>Contact</li></a>
                    </ul>
                </div>
                <div id="footer-site-info">
                    <h2>Explore</h2>
                    <ul>
                       <a href=""><li>Terms of Use</li></a>
                       <a href=""><li>Privacy Policy</li></a>
                    </ul>
                </div>
            </div>
            <p id="footer-copyright">© 2021 <a href="">Mark Keeble</a></p>
        </footer>
    </div>
</body>

</html>